[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "glmSparseNet"]
	path = glmSparseNet
	url = https://github.com/sysbiomed/glmsparsenet
